.q-quiz-complete-result {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: $mb;
    font-size: 2rem;
  
    @media (max-width: $xxl) {  
      margin-bottom: $mb * 1.5;
      font-size: 4rem;
    }
  
    @media (max-width: $xl) {  
      margin-bottom: $mb * 2;
      font-size: 6rem;
    }
  
    span {
      @extend .font-mystery-quest;
      color: $red-2;
      font-weight: 900;
    }
  }